appnope==0.1.2
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.2.0
authentication==1.1.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
certifi==2021.10.8
click==8.1.0
coverage==6.1.1
debugpy==1.4.3
decorator==5.1.0
Deprecated==1.2.13
distlib==0.3.3
Django==3.2.9
django-bootstrap-v5==1.0.7
django-cors-headers==3.11.0
django-pytest==0.2.0
django-recaptcha==3.0.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
entrypoints==0.3
filelock==3.4.0
Flask==2.1.0
form==0.0.1
gunicorn==20.1.0
importlib-metadata==4.11.3
iniconfig==1.1.1
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.1
jupyter-client==7.0.2
jupyter-core==4.7.1
kw==0.0.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
modcall==0.1.0
namespace==0.1.4
nest-asyncio==1.5.1
objects==0.3.1
packaging==21.2
parso==0.8.2
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2021.11.23
platformdirs==2.4.0
pluggy==1.0.0
posts==0.2.2
prompt-toolkit==3.0.20
psycopg==3.0.5
psycopg2-binary==2.9.2
ptyprocess==0.7.0
py==1.11.0
pycryptodome==3.14.1
Pygments==2.10.0
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-sugar==0.9.4
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pyzmq==22.3.0
redis==4.2.0
register==0.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
subject==0.1.0
termcolor==1.1.0
to==0.3
toml==0.10.2
tomli==1.2.2
tornado==6.1
traitlets==5.1.0
typing_extensions==4.1.1
virtualenv==20.10.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
Werkzeug==2.1.0
wrapt==1.14.0
WTForms==3.0.1
zipp==3.7.0
