<div class="w-75 mx-auto border rounded p-4 m-4 bg-light shadow-sm">

   <div class="image-box d-flex align-content-center justify-content-start mx-auto">
        {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="{{ profile.profile_image }}"/>
        {% endif %}
   </div>
   <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
   <h4>Location: {{ profile.locality }}</h4>
   <a class="btn btn-dark text-white" href="{% url 'user:profile-detail' profile.id %}">User's Area</a>
</div>