{% extends 'user/base.html' %}
{% load bootstrap5 i18n %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
{% bootstrap_messages %}
<div class="d-flex row g-3">
    <div class="col-md-4 col-lg-4 col-xl-3 d-flex flex-grow-1">
        <div class="mx-auto border rounded p-4 m-4 shadow">
            <h2>{{ form_title }}</h2>
            <form method="post">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Submit" %}
                    </button>
                    {% if forgot_password %}
                        <a class="p-2" href="{% url 'user:password-reset' %}">{% trans "Forgot your password?" %}</a>
                    {% endif %}
                {% endbuttons %}

            </form>
        </div>
    </div>
</div>
{% endblock content %}