{% extends 'user/base.html'%}
{% load static i18n bootstrap5 %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
   <div class="w-50 mx-auto border rounded p-4 m-4 shadow">
   <h6 class="text-muted">{{ email }}</h6>
   <form method="post">
       {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <div class="d-flex justify-content-evenly align-items-center">
{#                <a class="btn btn-danger" href="{% url 'user:index' %}">Cancel</a>#}

                <button type="submit" class="btn btn-primary">
                  Save
                </button>
            </div>
        {% endbuttons %}

    </form>
   </div>
{% endblock content %}