{% extends 'user/base.html'%}
{% load static i18n bootstrap5 %}
    {% block title %}{{ title }}{% endblock %}

{% block content %}


    <div class="w-75 mx-auto">
    {% if messages %}
        {% bootstrap_messages %}
    {% endif %}
    </div>


{#    <div class="profile-jumbo container p-1 shadow">#}


    {% include 'user/partials/user_profile_fragment.html' %}


    <div class="d-flex justify-content-center">
        <div class="main-container m-4 p-1 shadow-sm">

            {% include 'user/partials/button_group.html'%}
    {% if friends %}
    {% for friend in friends%}
            {{ friend.user }}
    {% endfor %}
        {% else %}
            {% include 'user/partials/no_list_data.html'%}
        {% endif %}
        </div>
    </div>
{% endblock content %}