{% extends 'user/base.html'%}
{% load static i18n bootstrap5 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if messages %}
        <div class="w-75 mx-auto">
            {% bootstrap_messages %}
        </div>
    {% endif %}


{#    <div class="profile-jumbo container p-1 shadow">#}


    {% include 'user/partials/user_profile_fragment.html' %}


    <div class="d-flex justify-content-center">
        <div class="main-container m-4 p-1 shadow-sm">

            {% include 'user/partials/button_group.html'%}
            {% if posts %}
                <ul class="list-group list-group-flush m-1 p-1 w-100">
                    {% for post in posts %}
                        <div class="post-list-card">


                            <li class="list-group-item p-1 mt-4">
                                <div class="inner-post-card" style="overflow: auto;">

                                     <div class="d-flex justify-content-evenly p-1">
                                         <div>
                                            <h4 class="align-self-center">{{ post.content }}</h4>
                                        </div>
                                            <span class="flex-grow-1"></span>

                                     </div>
                                </div>

                                <div class="d-flex justify-content-evenly">
                                    <span class="flex-grow-1"></span>

                                    <p>{{ post.date_time_created }} - Likes: <strong id="target">{{ post.total_likes }}</strong></p>

                                         <div class="d-flex align-items-start p-2">

{#                                             <a class="btn btn-primary align-self-center" href="{% url 'user:post-detail' post.id %}">Like</a>#}
                                             <form hx-post="{% url 'user:post-detail' post.id %}" method="POST" hx-trigger="submit" hx-target="#target" hx-swap="innerHTML">

                                                <button class="btn btn-primary align-self-center" type="submit" href="{% url 'user:post-detail' post.id %}">Like</button>
                                             </form>
                                         </div>

                                </div>

                            </li>

                        </div>

                    {% endfor %}
                </ul>

                <div class="d-flex justify-content-center m-2">

                    {% include 'user/partials/pagination.html'%}
                </div>

            {% else %}
                {% include 'user/partials/no_list_data.html' %}
            {% endif %}

        </div>
    </div>
{#    </div>#}
{% endblock %}