{% extends 'user/base.html'%}
{% load static i18n bootstrap5 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if messages %}

        {% bootstrap_messages %}
    {% endif %}
</div>
    <div class="profile-jumbo container p-1 shadow">
    {% include 'user/partials/user_profile_fragment.html' %}
<div class="d-flex justify-content-end">
    <div class="main-container m-4 p-2 shadow-sm">
    <div class="d-flex flex-col flex-wrap justify-content-evenly p-1 m-4 border w-25 shadow-sm h-25">
        <div class="btn-group w-100 d-flex align-items-center p-1">
            <btn class="btn btn-primary">Item 1</btn>
            <btn class="btn btn-primary">Item 2</btn>
            <btn class="btn btn-primary">Item 3</btn>
        </div>
    </div>
        <ul class="list-group list-group-flush m-4 p-2 border shadow-sm w-75">
            {% for post in posts %}
                <li class="list-group-item list-group-item-dark shadow-sm p-2" style="font-size: 1.4rem;">
                    <div class="d-flex justify-content-evenly p-1">
                        <h4 class="align-self-center">{{ post.content }}</h4>
                        <span class="flex-grow-1"></span>
                            <a class="btn btn-primary" href="{% url 'user:post-detail' post.id %}">Like</a>
                    </div>
                </li>
                 <div class="d-flex justify-content-evenly p-1">
                    <span class="flex-grow-1"></span>
                <p>{{ post.date_time_created }} - Likes: <strong>{{ post.total_likes }}</strong></p>
                 </div>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-center">

        {% include 'user/partials/pagination.html'%}
        </div>

    </div>
    </div>


        </div>
{% endblock %}